<div class="content" role="main">

  <!-- <mat-paginator [length]="meseege.length"
              [pageSize]="{{limit}}"
              [pageSizeOptions]="{{pageOption}}"
              aria-label="Select page">
  </mat-paginator> -->
<nav aria-label="...">
  <ul class="pagination pagination-circle">
    <li class="page-item">
      <a class="page-link" tabindex="-1" aria-disabled="true" (click) = "addPage(-1)" >Previous</a>
    </li>
    <li *ngFor="let f of [].constructor(length); let i = index" class="page-item"><button type="button" class="page-link" value="{{i+1}}" id="{{i+1}}" (click) ="getMessegesPage(i+1)">{{i+1}}</button></li>
    <li class="page-item">
      <a class="page-link" (click) = "addPage(1)">Next</a>
    </li>
  </ul>
</nav>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id Mensaje</th>
        <th scope="col">Ususario</th>
        <th scope="col">Mensaje</th>
        <th scope="col">Numero</th>
        <th scope="col">Fecha y hora</th>
        <th scope="col">Payload</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meseege of meseeges; let i = index">
        <th scope="row">{{i + (((pageNumber -1) * limit) + 1)}}</th>
        <td>{{meseege.id}}</td>
        <td>{{meseege.name}}</td>
        <td>{{meseege.text}}</td>
        <td>{{meseege.from}}</td>
        <td>{{meseege.timestamp}}</td>
        <td>{{meseege.payload}}</td>
      </tr>

    </tbody>
  </table>

</div>
